<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fizz & Funk</title>

        <link rel="styleseet" href="style.css">
    </head>
    <body>
        <div class="main-content">
            <h1>Main Homepage Heading</h1>
            <p>Paragraph text</p>
            <p class="text-glow-red">Red Glowing Text</p>
            <p class="text-glow-blue">Blue Glowing Text</p>
            <button class="text-glow-red button-primary">Primary Button</button>
            <button class="text-glow-blue button-secondary">Secondary Button</button>
        </div>

        <div class="topbar">
            <div class="topbar-inner">
                <button id="tb-home" class="topbar-button topbar-icon-main">
                    <img src="/src/icon.png">
                </button>
                <button id="tb-products">Products</button>
                <button id="tb-gallery">Gallery</button>
                <button id="tb-blog">Blog</button>
            </div>
        </div>
    </body>
</html>